
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <%= link_to "消费者管理", consumers_path %>
      <span class="divider">
        <i class="icon-angle-right arrow-icon"></i>
      </span>
    </li>
    <li class="active">
      <%= @consumer.phone%>
    </li>
  </ul>
</div>

<div class="page-content">

  <a href="<%= consumers_path%>" class="btn btn-app btn-pink btn-mini">
    <i class="icon-share-alt small-125"></i>
  </a>

  <a href="<%= edit_consumer_path(@consumer) %>
    " class="btn btn-app btn-primary  btn-mini">
    <i class="icon-edit small-125"></i>
  </a>

  <h3 class="header smaller lighter green"></h3>                    


  <p>
    <strong>手机号码:</strong>
    <%= @consumer.phone %>
  </p>

  <p>
    <strong>名字:</strong>
    <%= @consumer.name %>
  </p>


</div>





