<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="#">活动管理</a>

      <span class="divider">
        <i class="icon-angle-right arrow-icon"></i>
      </span>
    </li>
    <li class="active">
      <%= @activity.name%>
    </li>
  </ul>
</div>

<div class="page-content">

  <a href="<%= activities_path%>" class="btn btn-app btn-pink btn-mini">
    <i class="icon-share-alt small-125"></i>
  </a>

  <a href="<%= edit_activity_path(@activity) %>
    " class="btn btn-app btn-primary  btn-mini">
    <i class="icon-edit small-125"></i>
  </a>

  <a href="<%= activity_rewards_path(@activity) %>" class="btn btn-app btn-purple btn-mini">
      <i class="icon-cloud-upload small-125"></i>
  </a>

  <h3 class="header smaller lighter green"></h3>                    


  <p>
    <strong>名称:</strong>
    <%= @activity.name %>
  </p>

  <p>
    <strong>内容:</strong>
    <%= @activity.content %>
  </p>

  <p>
    <strong>时限:</strong>
    <%= @activity.start_time%> - <%= @activity.end_time %>
  </p>

  <p>
    <strong>发布:</strong>
    <%= @activity.published.to_cn %>
  </p>

  <p>
    <strong>作者:</strong>
    <%= @activity.author %>
  </p>



</div>





