<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <%= link_to "活动管理", activities_path %>
      <span class="divider">
        <i class="icon-angle-right arrow-icon"></i>
      </span>
    </li>
    <li class="active">
      <%= @activity.name%>
    </li>
  </ul>
</div>

<div class="page-content">

  <a href="<%= activities_path%>" class="btn btn-app btn-pink btn-mini">
    <i class="icon-share-alt small-125"></i>
  </a>

  <a href="<%= edit_activity_path(@activity) %>
    " class="btn btn-app btn-primary  btn-mini">
    <i class="icon-edit small-125"></i>
  </a>

  <a href="<%= activity_rewards_path(@activity) %>" class="btn btn-app btn-purple btn-mini">
      <i class="icon-cloud-upload small-125"></i>
  </a>

  <h3 class="header smaller lighter green"></h3>                    


  <p>
    <strong>名称:</strong>
    <%= @activity.name %>
  </p>

  <p>
    <strong>内容:</strong>
    <%= @activity.content %>
  </p>

  <p>
    <strong>时限:</strong>
    <%= @activity.start_time%> - <%= @activity.end_time %>
  </p>

  <p>
    <strong>发布:</strong>
    <%= @activity.published.to_cn %>
  </p>

  <p>
    <strong>创建者:</strong>
    <%= @activity.author_name %>
  </p>

  <p>
    <strong>消耗网络流量:</strong>
    <%= @activity.count_net %>
  </p>  

  <p>
    <strong>消耗短信:</strong>
    <%= @activity.count_calls %>
  </p>  

  <p>
    <strong>消耗话费:</strong>
    <%= @activity.count_sms %>
  </p>  

    <h3 class="header smaller lighter green"></h3>
  <h3>消费</h3>
  <table  class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>购买ID</th>
        <th>消费者</th>
        <th>奖券</th>
        <th>创建时间</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id%></td>
          <td><%= order.consumer.phone%></td>
          <td><%= order.ticket.uid%></td>
          <td><%= order.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>





